body {
    margin: 0;
    padding: 0;
    background-color: #9315ce;
    color: #f1f1f1;
}

.header {
    background-color: #9315ce;
    padding: 20px;
    text-align: center;
    height: 100px;
    color: #f1f1f1;
}

.logo {
    width: 50px;
}

h2 {
    text-align: center;

}

.imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.video {
    display: flex;
    justify-content: space-around;
}
